<div class="thumbnail">

    <a href="#"><img src="" alt=""></a>
    <div class="caption">
        <h4><a href="#">{{ trip.country }}</a> </h4>
        <p>{{ trip.city }}</p>
        <p>{{ trip.rating }}</p>
    </div>
</div>