{% extends 'templates/app.twig' %}

{% block content %}

    <div class ="row">
        <div class="col-md-8">
            <h1>Add traveling segment for the locations you just added to your trip?</h1>
            <h2>TripName: {{ tripName }}</h2>
            <h3>TripId: {{ tripId }}</h3>

            <form action="{{ path_for('addTransportationDetails', {email: email, tripId: tripId, tripName: tripName, startLocationId: startLocationId , endLocationId: endLocationId }) }}" method="post">



                <h4>From</h4>

                <div class="form-group">

                    <label for="startDate">Start Date(YYYY-MM-DD)</label>

                    <input type="text" name="startDate" id="startDate" class="form-control">

                </div>

                <div class="form-group">

                    <label for="endDate">End Date(YYYY-MM-DD)</label>

                    <input type="text" name="endDate" id="endDate" class="form-control">

                </div>

                <div class="form-group">

                    <label for="type">Type of Transportation</label>

                    <input type="text" name="type" id="type" class="form-control">

                </div>


                <button type="submit" class="btn btn-default">add details</button>




            </form>

        </div>
        <div class="col-md-4">

            <h4><a href = "{{ path_for('trip.getProfile', {email: userEmail}) }}" method="get"> Return to profile </a></h4>



        </div>

    </div>

{% endblock %}