{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <h1> You have successfully created a trip! </h1>

        <h4><a href = "{{ path_for('trip.getProfile', {email: email}) }}" method="get"> Return to profile </a></h4>
        <h4><a href = "{{ path_for('trip.getAllTrips', {email: email}) }}" method="get"> View all Trippi Trips </a></h4>

    </div>

{% endblock %}